<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
    <div th:fragment="content" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_READONLY_USER')"
         id="cacheBrowseDialog" title="Cache Browser">
        <form class="form-inline" action="">
            <input type="text" placeholder="Key" id="cacheBrowseKey" class="input-small"
                   onkeydown="if (event.keyCode == 13){ cacheBrowse();return false;}">
            <select id="cacheBrowseKeyType" style="height: 28px">
                <option value="string">String</option>
                <option value="integer">Integer</option>
                <option value="long">Long</option>
            </select>
            <button class="btn btn-default has-spinner " type="button" onclick="cacheBrowse()" id="cacheBrowseButton">
                Browse
                <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
            </button>
            <span id="cacheBrowseInfo" style="color: red; margin-left: 10px;"></span>
        </form>
        <table id="cacheBrowserResult" class="table" style="margin-top: 10px;">
            <tr>
                <td class="infoLabel"><b>Value:</b></td>
                <td id="cacheBrowse_value" class="valueTd browseValueTd"></td>
                <td class="infoLabel"><b>Class:</b></td>
                <td id="cacheBrowse_class" class="valueTd browseValueTd"></td>
            </tr>
            <tr>
                <td class="infoLabel"><b>Creation Time:</b></td>
                <td id="date_cache_creation_time" class="valueTd browseValueTd"></td>
                <td class="infoLabel"><b>Access Time:</b></td>
                <td id="date_cache_access_time" class="valueTd browseValueTd"></td>
            </tr>
            <tr>
                <td class="infoLabel"><b>Expiration Time:</b></td>
                <td id="date_cache_expiration_time" class="valueTd browseValueTd"></td>
                <td class="infoLabel"><b>Hits:</b></td>
                <td id="cacheBrowse_hits" class="valueTd browseValueTd"></td>
            </tr>
        </table>
    </div>
</body>
</html>

