<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" id="wanSyncDialog" class="container" title="Start Wan Sync">
    <div class="span7">
        <div class="row">
            <div class="offset2">
                <select id="wanConfigsDropdown" style="margin-top:10px; width:190px;">
                    <option value="" selected disabled>Select Wan Configuration</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <select id="publishersDropdown" style="margin-top:15px;">
                    <option value="" selected disabled>Select Target</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <select id="mapsDropdown" style="margin-top:15px;">
                    <option value="" selected disabled>Select Map</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="offset2" style="text-align: center; margin-top: 15px;">
                <button class="btn btn-default btn-large" type="button" onclick="wanSyncMap()" id="syncButton"> Sync <i class="icon-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>