<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content">
        <div id="clusterConnectDialog" title="Select Cluster to Connect" class="content-padded login-div">
            <div id="clusterList" style="border: 1px"></div>

            <div id="licenseInfo"></div>

            <div id="applyWarnDiv" style="display: none"><br/>
                For unlimited nodes,
                <a href="https://hazelcast.com/hazelcast-enterprise-download/trial/" target="_blank"> apply for trial</a>
            </div>
            <br>

            <div>
                Management Center Version <span class="versionText"></span>
            </div>
        </div>
        <div id="licenseKeyDialog" title="Enter License Key" class="content-padded login-div">
            <p class="validateTips">Please enter your license key:</p>
            <input type="text" style="width: 220px;" id="licenseKeyInput"/>

            <div style="color: red; padding-top: 10px;" id="licenseSaveInfo"></div>
            <a href="https://hazelcast.com/hazelcast-enterprise-download/trial/" target="_blank"> or apply for trial</a>
        </div>

        <div id="updateLicenseKeyDialog" title="Update License Key" class="content-padded login-div">
            <p class="validateTips updatelicense">Please enter your new license key:</p>
            <input class="updatelicense" type="text" style="width: 220px;" id="updateLicenseKeyInput"/>
            <div style="padding-top: 10px;" id="licenseUpdateInfo"></div>
        </div>
        <div id="noDataDialog" title="No cluster data" class="login-div">
            <p>Have you configured your Hazelcast cluster for Web Management Center?</p>

            <p>Please add the following lines to your Hazelcast configuration:</p>

            <pre style='font-size: 8pt;'><code class='xml'>&lt;management-center enabled="true"&gt;<br/><span
                    class="yourUrlText">YOUR_MANCENTER_WEB_URL</span><br/>&lt;/management-center&gt;</code></pre>

            <p>or <a href="#" onclick="showChangeUrlScreen()">click here</a> to assign web url dynamically.</p>

            <p>Please ensure that the Hazelcast nodes are running with version <span class="versionText"></span>.x</p>
        </div>
        <div id="changeUrlDialog" title="Change Server URL" class="login-div">
            <div id="changeUrlDiv">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label for="clusterNameInput" class="control-label">Cluster Name:</label>

                        <div class="controls">
                            <input type="text" id="clusterNameInput" value="dev"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="clusterPasswordInput" class="control-label">Password:</label>

                        <div class="controls">
                            <input type="password" id="clusterPasswordInput" value="dev-pass" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="memberIPInput" class="control-label">Member IP:</label>

                        <div class="controls">
                            <input type="text" id="memberIPInput" value="127.0.0.1"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="memberPortInput" class="control-label">Member Port:</label>

                        <div class="controls">
                            <input type="text" id="memberPortInput" value="5701"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="serverUrlInput" class="control-label">Server URL:</label>

                        <div class="controls">
                            <input type="text" id="serverUrlInput" class="yourUrlInput"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="sslEnabledCheckbox" class="control-label">SSL:</label>

                        <div class="controls">
                            <input type="checkbox" id="sslEnabledCheckbox"/>
                        </div>
                    </div>
                </form>
                <div id="changeUrlMessage" style="padding-top: 5px; color: red;"></div>
            </div>
        </div>
        <div id="changeVersionDialog" title="Upgrade Cluster Version" class="login-div">
            <div id="changeVersionDiv">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label for="currentVersionContainer" class="control-label">Current Version:</label>
                        <div class="controls readonly" id="currentVersionContainer"></div>
                    </div>
                    <div class="control-group">
                        <label for="clusterVerNameInput" class="control-label">Cluster Name:</label>

                        <div class="controls">
                            <input type="text" id="clusterVerNameInput" placeholder="dev" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="clusterVerPasswordInput" class="control-label">Password:</label>

                        <div class="controls">
                            <input type="password" id="clusterVerPasswordInput" autocomplete="off" placeholder="dev-pass"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="changeClusterVersionInput" class="control-label">New Version:</label>

                        <div class="controls">
                            <input type="text" id="changeClusterVersionInput" autocomplete="off"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="smtpConfigDialog" title="Set up SMTP Server " class="login-div">
            <div id="smtpConfigDiv">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label for="userNameInput" class="control-label">Email:</label>

                        <div class="controls">
                            <input type="email" id="userNameInput" value="info@yourserver.com"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="userPasswordInput" class="control-label">Password:</label>

                        <div class="controls">
                            <input type="password" id="userPasswordInput" value="dev-pass"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="hostAdressInput" class="control-label">Host Address:</label>

                        <div class="controls">
                            <input type="text" id="hostAdressInput" value="smtp.yourserver.com"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="hostPortInput" class="control-label">Host Port:</label>

                        <div class="controls">
                            <input type="text" id="hostPortInput" value="587"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="tlsEnabledInput" class="control-label">TLS Connection:</label>

                        <div class="controls">
                            <input type="checkbox" id="tlsEnabledInput"/>
                        </div>
                    </div>
                </form>
                <div id="setupSMTPMessage" style="padding-top: 5px; color: red;"></div>
            </div>
        </div>

        <div id="hotRestartDialog" title="Force Starting CLuster" class="login-div" data-backdrop="static">
            <div class="progress progress-striped active">
                <div id="hotRestartBar" class="bar" style="width: 100%;"></div>
            </div>
        </div>

        <div id="changeClusterStatusDialog" title="Changing Cluster State" class="login-div" data-backdrop="static">
            <div class="progress progress-striped active">
                <div id="changeClusterStatusBar" class="bar" style="width: 100%;"></div>
            </div>
        </div>

        <div id="clusterShutdownDialog" title="Shutdown Cluster" class="login-div">
            <p class="lead">
                Are you sure you want to shutdown Cluster? <br>
            </p>
        </div>

        <div id="forceStartDialog" title="Trigger Force Start" class="login-div">
            <p class="lead">
                Are you sure you want to trigger Force Start? <br>
            </p>
            <blockquote>
                <p>Forces node to start by skipping hot-restart completely and removing all hot-restart data even if node is still on validation phase or loading hot-restart data.</p>
            </blockquote>
        </div>

        <div id="partialStartDialog" title="Trigger Partial Start" class="login-div">
            <div class="control-group">
                <label for="passInputForPartialStart" class="control-label"> Please Enter Cluster Password:</label>
                <div class="controls">
                    <input type="password" id="passInputForPartialStart" value="dev-pass" autocomplete="off"/>
                </div>
            </div>
        </div>

        <div id="hrBackupDialog" title="Trigger Hot Restart Backup" class="login-div">
            <div class="control-group">
                <label for="passInputForHRBackup" class="control-label"> Please Enter Cluster Password:</label>
                <div class="controls">
                    <input type="password" id="passInputForHRBackup" value="dev-pass" autocomplete="off"/>
                </div>
            </div>
        </div>

        <div id="hrBackupInterruptDialog" title="Interrupt Hot Restart Backup" class="login-div">
            <div class="control-group">
                <label for="passInputForHRBackupInterrupt" class="control-label"> Please Enter Cluster Password:</label>
                <div class="controls">
                    <input type="password" id="passInputForHRBackupInterrupt" value="dev-pass" autocomplete="off"/>
                </div>
            </div>
        </div>

        <div id="securityProvidersDialog" title="Configure security"
             class="security-providers-div" data-backdrop="static">
            <div id="securityProvidesDiv">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label for="securityProviderSelect" class="control-label">Security Provider:</label>

                        <div class="controls">
                            <select id="securityProviderSelect" style="height: 28px">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div id="configureSecurityProviderDiv">
                <form class="form-horizontal" id="securityProviderConfigForm">
                </form>
            </div>
        </div>

        <div id="slowOperationDialog" title="Details of Slow Operation" class="login-div">
            <table id="slowOperationDetail" class="table" style="padding:2px">
                <tbody>
                </tbody>
            </table>
        </div>

        <!-------- Administration --------->

        <div id="deleteUserConfirm" title="Delete User?">
            <p><i class="icon-warning-sign"></i>
                The user will be deleted and
                cannot be recovered. Are you sure?
                <br/>
            </p>
        </div>

        <div id="changePasswordModal" title="Change Password">
            <form class="form-horizontal" id="changePasswordModalForm">
                <div class="control-group">
                    <label for="changePassInput" class="control-label">Password:</label>
                    <div class="controls">
                        <input type="password" id="changePassInput" autocomplete="off" parsley-trigger="change" required/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="confirmPassInput" class="control-label">Confirm Password:</label>
                    <div class="controls">
                        <input type="password" id="confirmPassInput" autocomplete="off" parsley-trigger="change" parsley-equalto="#changePassInput" required />
                    </div>
                </div>
            </form>
        </div>


        <!-------- Scripting --------->
        <div id="saveScriptDialog" title="Script already exist">
            <p><i class="icon-warning-sign"></i>
                A script with the given name already exist!
                <br/>
                <br/>
                Do you want to overwrite existing script?
                <br/>
            </p>
        </div>

        <div id="saveScriptNoNameDialog" title="No script name!">
            <p><i class="icon-warning-sign"></i>
                Please set a script name <br>
            </p>
        </div>

        <div id="deleteScriptDialog" title="Delete Script">
            <p><i class="icon-warning-sign"></i>
                Are you sure you want to delete this script ? <br>
            </p>
        </div>

        <!-------- Member --------->
        <div id="threadDumpDialog" title="Thread Dump">
            <textarea id="threadDumpModalBody" rows="10" style="height:100%; width: 100%;"></textarea>
        </div>
        <div id="nodeShutdownDialog" title="Member Shutdown">
            <p><i class="icon-warning-sign"></i>
                Are you sure you want to shutdown this member? <br>
            </p>
            <div class="control-group">
                <label for="groupNameInputForShutdown" class="control-label">Group Name:</label>
                <div class="controls">
                    <input type="text" id="groupNameInputForShutdown" value="groupName" autocomplete="off"/>
                </div>
                <label for="clusterPasswordInputForShutdown" class="control-label">Password:</label>
                <div class="controls">
                    <input type="password" id="clusterPasswordInputForShutdown" value="dev-pass" autocomplete="off"/>
                </div>
            </div>
        </div>

        <!-------- Alerts --------->
        <div id='alertMessage' class="resultDialog" style="display:none" title="Alert Message Details">

        </div>
        <div id="saveFilterDialog" class="resultDialog" style="display:none" title="Filter already exist">
            <p><i class="icon-warning-sign"></i>
                A filter with the given name already exist!
                <br/>
                Do you want to overwrite existing filter with new settings ?
                <br/>
            </p>
        </div>

        <div id="deleteFilterDialog" class="resultDialog" style="display:none" title="Delete Filter">
            <p><i class="icon-warning-sign"></i>
                Are you sure you want to delete this filter permanently ? <br>
                This will also delete old persisted alerts.
            </p>
        </div>

        <div id="saveFilterNoNameDialog" class="resultDialog" style="display:none" title="No filter task!">
            <p><i class="icon-warning-sign"></i>
                Please set a filter name <br>
            </p>
        </div>

        <div id="alertPopupDialog" title="New Alerts"
             style="z-index:2;display:none;height:100px;overflow-x:hidden;overflow-y:scroll;padding:10px;"
             class="ui-state-error ui-corner-all">
            <a style="float:left;font-size:16px;">NEW ALERT!</a>
            <button style="float:right;height:20px;width:20px;" class="ui-icon ui-icon-close"
                    onclick=" $('#alertPopupDialog').hide() "></button>
            <br>
            <a id="alertPopup" style="width:300px;height:100px;"> </a>
        </div>

        <!-- Time Travel-->
        <div id="enableTimeTravelDialog" class="resultDialog" title="Enable Time Travel">
            <p><i class="icon-warning-sign"></i>
                By default, time travel module is not enabled. <br/> If you enable, the cluster states will be persisted to the
                disk while Management center is running.
            </p>
        </div>
        <div id="disableTimeTravelDialog" class="resultDialog" title="Disable Time Travel">
            <p><i class="icon-warning-sign"></i>
                Time Travel module will be disabled. Cluster states will not be persisted to disk and you can not reach past
                data. Do you confirm?
            </p>
        </div>

        <div id="writeErrorDialog" class="resultDialog" title="Error: Directory Write Problem">
            <p><i class="icon-warning-sign"></i>
                There is a problem on writing to the directory <span id="dataDirectory" style="font-weight: bold;"></span>.
                <br/>
                Either make it writable or change the data directory setting "hazelcast.mancenter.home" system property.
                <br/>
                Or you can continue in read-only mode in that case license and login credentials can not be saved/remembered and
                time-travel module will not be available.
            </p>
        </div>
    </div>
</body>
</html>


