<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
    <!-- the new toggle buttons -->
    <ul th:fragment="content-1" class="nav pull-right">
        <li class="toggle-primary-sidebar hidden-desktop" data-toggle="collapse"
            data-target=".nav-collapse-primary">
            <button type="button" class="btn btn-navbar"><i class="icon-th-list"></i></button>
        </li>
        <li class="hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-top">
            <button type="button" class="btn btn-navbar"><i class="icon-align-justify"></i></button>
        </li>
    </ul>
    <div th:fragment="content-2" class="nav-collapse nav-collapse-top collapse">
        <ul class="nav pull-left">
            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"><a href="#" onclick="tabs.newTab('Scripting','scripting','icon-code')" title="Scripting"><i class="icon-code"></i> Scripting</a></li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"><a href="#" onclick="tabs.newTab('Console','console','icon-dollar')" title="Console"><i class="icon-dollar"></i> Console</a></li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a href="#" onclick="tabs.newTab('Alerts','alerts','icon-bell-alt')" title="Alerts"><i class="icon-bell-alt"></i> Alerts</a></li>
            <li><a href="#" onclick="tabs.newTab('Documentation','docs',' icon-file-alt')" title="Documentation"><i class="icon-file-alt"></i> Docs</a></li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a href="#" onclick="tabs.newTab('Administration','admin','icon-cogs')" title="Administration"><i class="icon-cogs"></i> Administration</a></li>
            <li><a href="#" id="timeTravelButton" onclick="toggleTimeTravel()" title="Time Travel"><i class="icon-fast-backward"></i> Time Travel</a></li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN')" class="dropdown">
                <a href="#" class="dropdown-toggle dropdown-avatar" data-toggle="dropdown">
                    <span>
                        <span><i class="icon-briefcase"></i><span> Operations </span> <i class="icon-caret-down"></i></span>
                    </span>
                </a>
                <ul class="dropdown-menu" id="operationDropdownList">
                    <li>
                        <a id="operationDropdownClusterState" href="#">Cluster State</a>
                    </li>
                    <li class="enterprise-hd-only">
                        <a id="operationDropdownHotRestart" href="#">Hot Restart</a>
                    </li>
                    <li class="enterprise-only">
                        <a id="operationDropdownWanSync" href="#">WAN Sync</a>
                    </li>
                    <li class="enterprise-only">
                        <a id="operationDropdownRollingUpgrade" href="#">Rolling Upgrade</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="#" onclick="showChangeUrlScreen()" title="Update Cluster URL"><i class="icon-cogs"></i>Update Cluster URL</a></li>
            <li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle dropdown-avatar" data-toggle="dropdown">
                  <span>
                     <span><i class="icon-sitemap"></i><span id="activeClusterName"></span> <i class="icon-caret-down"></i></span>
                  </span>
                </a>
                <ul class="dropdown-menu" id="clusterDropdownList">
                </ul>
            </li>
            </li>
            <li><a href="logout" onclick="" title="Logout"><i class="icon-signout"></i>Log Out</a></li>
        </ul>
    </div>
</body>
</html>