<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" class="container-fluid">
    <div class="span12">
        <div class="box" style="min-height: 594px;">
            <div class="box-header">
                <span class="title">WAN Sync</span>
            </div>
            <div class="box-content padded">
                <button class="btn btn-default btn-large" onclick="openWanConfigDialog()" type="button" style="float: right;"> <span><i class="icon-plus"></i></span> Add WAN Replication Config
                </button>
                <table id="wanTargetTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Wan Configuration</th>
                        <th>Target</th>
                        <th>Progress</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="wanTargetTableBody">
                    <tr></tr>
                    </tbody>
                </table>
                <button class="btn btn-default btn-large" id="startWanSyncButton" onclick="openWanSyncDialog()" type="button" style="float: left;">
                    Start WAN Sync <i class="icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div th:replace="__wanConfig :: content"/>
    <div th:replace="__wanSync :: content"/>
</div>
</body>
</html>
