<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title)">

    <title th:replace="${title}">The page title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/png">
    <link href="stylesheets/jquery-ui-1.10.0.custom.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/codemirror.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/jquery.growl.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap-switch.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="javascripts/highlight/default.min.css" media="screen" rel="stylesheet" type="text/css" />

    <!--[if lt IE 9]>
    <script type="text/javascript"> if (!window.console) console = {log: function() {}}; </script>
    <script src="javascripts/vendor/respond.min.js" type="text/javascript"></script>
    <script src="javascripts/vendor/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <script src="javascripts/vendor/excanvas.min.js" type="text/javascript"></script>
    <script src="javascripts/vendor/codemirror/codemirror-compressed.js" type="text/javascript"></script>
    <script src="javascripts/vendor/jquery191.js" type="text/javascript"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap.js" type="text/javascript"></script>
    <script src="javascripts/vendor/bootstrap/bootstrap-dropdown-hover.js" type="text/javascript"></script>
    <script src="javascripts/vendor/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="javascripts/vendor/jquery.flot.js" type="text/javascript"></script>
    <script src="javascripts/vendor/jquery.flot.time.js" type="text/javascript"></script>
    <script src="javascripts/vendor/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="javascripts/vendor/jquery.flot.crosshair.min.js" type="text/javascript"></script>
    <script src="javascripts/vendor/jquery.flot.stack.min.js" type="text/javascript"></script>
    <script src="javascripts/vendor/jquery_gritter.js" type="text/javascript"></script>
    <script src="javascripts/vendor/bootbox.min.js" type="text/javascript"></script>
    <script src="javascripts/vendor/sparkline.js" type="text/javascript"></script>
    <script src="javascripts/vendor/moment.min.js" type="text/javascript"></script>
    <script src="javascripts/vendor/dataTables.js" type="text/javascript"></script>
    <script src="javascripts/vendor/parsley.js" type="text/javascript"></script>
    <script src="javascripts/vendor/bootstrap-switch.js"></script>
    <script src="javascripts/gritter.js" type="text/javascript"></script>
    <script src="javascripts/highlight/highlight.min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="javascripts/jquery.growl.js" type="text/javascript"></script>


    <script src="javascripts/app/tab.js"></script>
    <script src="javascripts/app/app.js"></script>
    <script src="javascripts/app/chart.js"></script>
    <script src="javascripts/app/cluster.js"></script>
    <script src="javascripts/app/console.js"></script>
    <script src="javascripts/app/init.js"></script>
    <script src="javascripts/app/login.js"></script>
    <script src="javascripts/app/map.js"></script>
    <script src="javascripts/app/multimap.js"></script>
    <script src="javascripts/app/member.js"></script>
    <script src="javascripts/app/queue.js"></script>
    <script src="javascripts/app/replicatedmap.js"></script>
    <script src="javascripts/app/health.js"></script>
    <script src="javascripts/app/scripting.js"></script>
    <script src="javascripts/app/timetravel.js"></script>
    <script src="javascripts/app/topic.js"></script>
    <script src="javascripts/app/reliabletopic.js"></script>
    <script src="javascripts/app/admin.js"></script>
    <script src="javascripts/app/docs.js"></script>
    <script src="javascripts/app/executor.js"></script>
    <script src="javascripts/app/alert.js"></script>
    <script src="javascripts/app/cache.js"></script>
    <script src="javascripts/app/email.js"></script>
    <script src="javascripts/app/signup.js"></script>
    <script src="javascripts/app/wan.js"></script>
    <script src="javascripts/app/hotrestart.js"></script>
    <script src="javascripts/app/clusterstate.js"></script>
    <script src="javascripts/app/license.js"></script>
</head>

</html>
