<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: common_header(~{::title})">
    <title>Hazelcast Management Center</title>
</head>

<body style="padding: 0px; margin: 0px; overflow-x: hidden; overflow-y: scroll; height: 100%; ">
<div class="navbar navbar-top navbar-inverse">
    <div class="navbar-inner">
        <div th:replace="_timetravel :: content"></div>

        <div class="container-fluid">
            <a class="brand" href="#" onclick="tabs.newTab('Home','home','icon-home')">
                <img style="padding-top: 10px;width: 180px"
                        src="images/logo.png"></a>
            <div th:replace="_topMenu :: content-1"></div>
            <div th:replace="_topMenu :: content-2"></div>
        </div>
    </div>
</div>


<div class="sidebar-background">
    <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">
    <div id="resizer" style="background-color: rgb(40, 122, 187);
        float:right;
        width: 4px;
        height: inherit !important;
        z-index: 10 !important;
        -webkit-user-select:none;
        cursor: col-resize;"></div>
    <!-- Main nav -->
    <div th:replace="_sidebar :: content"></div>
    <p id="mainVersion" align="center" style="color: #ffffff;"></p>

</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="alert alert-error" id="nodeLimitExceeded" style="display:none; margin-bottom: 0px">
                <strong>Node Limit Exceeded !</strong>
                Have you entered your license key?
                If not <a href="#" onclick="showEnterLicense()">click here</a> enter license details or  <a href="https://hazelcast.com/hazelcast-enterprise-download/trial/" target="_blank">click here</a> for apply for a trial.
            </div>
            <div class="alert alert-block" id="versionMismatch" style="display:none; margin-bottom: 0px">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Rolling upgrade is in progress.</strong>
                <span id="versionMismatchText"></span>
            </div>
            <div class="alert alert-error" id="connectionError" style="display:none; margin-bottom: 0px">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Server Connection Error !</strong>
                <span id="connectionErrorText"></span>
            </div>
            <div class="alert alert-error" id="instanceConnectionError" style="display:none; margin-bottom: 0px">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Instance Connection Warning!</strong>
                <span>Please make sure that all cluster members have the same management center configuration and are able to connect to the management center.</span>
            </div>

            <div class="box">
                <div class="box-header">
                    <ul class="nav nav-tabs nav-tabs-left" id="contentTabs">
                    </ul>
                </div>

                <div class="box-content padded">
                    <div class="tab-content" id="tabs">
                        <div th:include="_home :: content" class="tab-pane" id="home">
                        </div>
                        <div th:include="_map :: content" class="tab-pane" id="map">
                        </div>
                        <div class="tab-pane" id="replicatedmap">
                            <div th:replace="_replicatedmap :: content-1"/>
                            <div th:replace="_replicatedmap :: content-2"/>
                            <div th:replace="_replicatedmap :: content-3"/>
                        </div>
                        <div th:include="_cache :: content" class="tab-pane" id="cache">
                        </div>
                        <div class="tab-pane" id="queue">
                            <div th:replace="_queue :: content-1"/>
                            <div th:replace="_queue :: content-2"/>
                            <div th:replace="_queue :: content-3"/>
                        </div>
                        <div th:include="_member :: content" class="tab-pane" id="member">
                        </div>
                        <div class="tab-pane" id="topic">
                            <div th:replace="_topic :: content-1"/>
                            <div th:replace="_topic :: content-2"/>
                        </div>
                        <div class="tab-pane" id="reliabletopic">
                            <div th:replace="_reliabletopic :: content-1"/>
                            <div th:replace="_reliabletopic :: content-2"/>
                        </div>
                        <div class="tab-pane" id="multimap">
                            <div th:replace="_multimap :: content-1"/>
                            <div th:replace="_multimap :: content-2"/>
                            <div th:replace="_multimap :: content-3"/>
                        </div>
                        <div th:include="_executor :: content" class="tab-pane" id="executor">
                        </div>
                        <div class="tab-pane" id="wanrep">
                            <div th:replace="_wan :: content"/>
                        </div>
                        <div class="tab-pane" id="wanreptop">
                            <div th:replace="_wanTop :: content"/>
                        </div>
                        <div class="tab-pane" id="scripting">
                            <div th:replace="_scripting :: content-1"/>
                            <div th:replace="_scripting :: content-2"/>
                        </div>
                        <div class="tab-pane" id="admin" th:include="_admin :: content">
                        </div>
                        <div class="tab-pane" id="alerts">
                            <div th:replace="_alert :: content"/>
                        </div>
                        <div class="tab-pane" id="docs">
                            <div th:replace="_docs :: content"/>
                        </div>
                        <div class="tab-pane" id="resource-center">
                            <div th:replace="_resourceCenter :: content"/>
                        </div>
                        <div class="tab-pane" id="time-travel">
                            <div th:replace="_timetravel :: content"/>
                        </div>
                        <div class="tab-pane" id="console">
                            <div th:replace="_console :: content"/>
                        </div>
                        <div class="tab-pane" id="hotrestart">
                            <div th:replace="_hotrestart :: content"/>
                        </div>
                        <div class="tab-pane" id="clusterstate">
                            <div th:replace="_clusterstate :: content"/>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="ex-tooltip"></div>
<div th:include="_modals :: content" th:remove="tag"></div>

</body>
</html>