<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <task:annotation-driven/>

    <bean id="managementCenterContext"
          class="com.hazelcast.webmonitor.service.ManagementCenterContext"
          destroy-method="shutdown">
        <property name="licenseManager" ref="licenseManager"/>
        <property name="alertManager" ref="alertManager"/>
        <property name="centralManager" ref="centralManager"/>
        <property name="dataService" ref="dataService"/>
        <property name="stateManager" ref="stateManager"/>
        <property name="taskManager" ref="taskManager"/>
        <property name="versionManager" ref="versionManager"/>
        <property name="emailConfigManager" ref="emailConfigManager"/>
    </bean>

    <bean id="versionManager"
          class="com.hazelcast.webmonitor.service.VersionManager"/>

    <bean id="version"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="versionManager"/>
        <property name="targetMethod" value="getFullVersion"/>
    </bean>

    <bean id="homeDirectoryProvider" class="com.hazelcast.webmonitor.service.HomeDirectoryProviderImpl"/>

    <bean id="userRepository" class="com.hazelcast.webmonitor.repositories.UserRepository">
        <constructor-arg ref="homeDirectoryProvider"/>
    </bean>

    <bean id="licenseManager" class="com.hazelcast.webmonitor.service.LicenseManager">
        <constructor-arg index="0" ref="userRepository"/>
    </bean>

    <bean id="alertManager"
          class="com.hazelcast.webmonitor.service.AlertManager"
          destroy-method="shutdown">
         <constructor-arg ref="homeDirectoryProvider"/>
         <constructor-arg ref="managementCenterContext"/>
    </bean>

    <bean id="storageDirectory"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="homeDirectoryProvider"/>
        <property name="targetMethod" value="get"/>
    </bean>

    <bean id="stateRepository" class="com.hazelcast.webmonitor.repositories.CompositeStateRepository">
        <constructor-arg index="0" ref="storageDirectory"/>
    </bean>

    <bean id="stateManager"
          class="com.hazelcast.webmonitor.service.StateManager">
        <constructor-arg index="0" ref="stateRepository"/>
    </bean>

    <bean id="scriptManager"
          class="com.hazelcast.webmonitor.service.ScriptManager">
        <constructor-arg index="0" ref="homeDirectoryProvider"/>
    </bean>

    <bean id="emailConfigManager"
          class="com.hazelcast.webmonitor.service.EmailConfigManager">
        <constructor-arg index="0" ref="homeDirectoryProvider"/>
    </bean>

    <bean id="taskManager"
          class="com.hazelcast.webmonitor.service.TaskManager"
          destroy-method="shutdown">
        <constructor-arg ref="stateManager"/>
    </bean>

    <bean id="centralManager"
          class="com.hazelcast.webmonitor.service.CentralManager">
        <property name="versionManager" ref="versionManager"/>
        <property name="taskManager" ref="taskManager"/>
        <property name="alertManager" ref="alertManager"/>
        <property name="stateManager" ref="stateManager"/>
        <property name="userRepository" ref="userRepository"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="centralManager"/>
        <property name="targetMethod" value="scheduleDeadClusterDetection"/>
    </bean>

    <bean id="dataService"
          class="com.hazelcast.webmonitor.service.DataService">
        <property name="taskManager" ref="taskManager"/>
        <property name="stateManager" ref="stateManager"/>
        <property name="alertManager" ref="alertManager"/>
        <property name="centralManager" ref="centralManager"/>
        <property name="scriptManager" ref="scriptManager"/>
        <property name="licenseManager" ref="licenseManager"/>
        <property name="emailConfigManager" ref="emailConfigManager"/>
        <property name="authenticationManagerImpl" ref="authenticationManager"/>
    </bean>

    <bean id="enterpriseServiceProvider" class="com.hazelcast.webmonitor.service.EnterpriseServiceProvider">
        <constructor-arg ref="stateManager"/>
        <constructor-arg ref="centralManager"/>
        <constructor-arg ref="licenseManager"/>
    </bean>

    <bean id="jmx" class="com.hazelcast.webmonitor.service.jmx.impl.JMXService">
        <constructor-arg ref="enterpriseServiceProvider"/>
    </bean>

    <bean id="clusterNames"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="centralManager"/>
        <property name="targetMethod" value="getClusterNames"/>
    </bean>

    <context:component-scan base-package="com.hazelcast.webmonitor">
        <context:exclude-filter type="regex" expression="com\.hazelcast\.webmonitor\.controller\..*"/>
    </context:component-scan>

</beans>
