<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:security="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <security:http pattern="/collector*" security="none" authentication-manager-ref="authenticationManager"/>
    <security:http pattern="/register*" security="none" authentication-manager-ref="authenticationManager"/>
    <security:http pattern="/getTask*" security="none" authentication-manager-ref="authenticationManager"/>
    <security:http pattern="/putResponse*" security="none" authentication-manager-ref="authenticationManager"/>
    <security:http pattern="/user*" security="none" authentication-manager-ref="authenticationManager"/>
    <security:http auto-config="false" use-expressions="true" entry-point-ref="loginUrlAuthenticationEntryPoint"
                   authentication-manager-ref="authenticationManager">
        <security:intercept-url pattern="/main*" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_READONLY_USER',
        'ROLE_METRICS_ONLY')" />
        <security:intercept-url pattern="/" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_READONLY_USER',
        'ROLE_METRICS_ONLY')" />
        <security:custom-filter position="BASIC_AUTH_FILTER" ref="customUsernamePasswordAuthenticationFilter"/>
        <security:logout logout-success-url="/main.html"/>
        <security:access-denied-handler ref="accessDeniedHandler"/>
        <security:csrf disabled="true"/>
        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>
    </security:http>

    <bean id="accessDeniedHandler" class="com.hazelcast.webmonitor.security.spi.impl.AccessDeniedHandlerImpl"/>

    <bean id="authenticationManager" class="com.hazelcast.webmonitor.security.spi.impl.AuthenticationManagerImpl">
        <constructor-arg index="0" ref="homeDirectoryProvider"/>
        <constructor-arg index="1" ref="userRepository"/>
    </bean>

    <bean id="loginUrlAuthenticationEntryPoint"
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg name="loginFormUrl" value="/login.html"/>
    </bean>

    <bean id="customUsernamePasswordAuthenticationFilter"
          class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter" >
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationFailureHandler" ref="failureHandler"/>
        <property name="authenticationSuccessHandler" ref="successHandler"/>
    </bean>

    <bean id="successHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
        <property name="defaultTargetUrl" value="/main.html"/>
    </bean>
    <bean id="failureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/login.html?login_error=true"/>
    </bean>
    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
</beans>
